@import "reset.postcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

section {
	@apply h-[90%] w-full flex-col;
	display: flex !important;
}
pre {
	margin: 0 !important;
	width: 100% !important;
}

.subtitle {
	@apply -mt-4 mb-2 text-3xl font-light;
}
